.AppName {
    font-weight: bolder;
    font-size: larger;
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.AppName:hover {
    background: rgba(0, 0, 0, 0.2);
}
.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}
.li{
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.3s ease;
}
.li:hover{
    border-bottom: 2px solid black;
}
.signBtn {
    padding: 5px 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 5px;
}