.AppName {
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
    padding: 6px 12px;
    transition: all 0.7s ease-in-out;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.AppName:hover {
    background: rgba(0, 0, 0, 0.1);
}
.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}
.li{
    padding: 6px 12px;
    border-radius: 10px;
    background: white;
    transition: all 0.3s ease;
    cursor: pointer;

}
.li:hover{
    background: rgba(0, 0, 0, 0.1);

}
.signBtn {
    padding: 5px 12px;
    background: #3175fc;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 5px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* left | center | right */
    width: 100%;
}
.left {
    flex: 1;
}
.center {
    flex: 1;
    display: flex;
    justify-content: center;
}
.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}